.header {
    padding: 5px;
    text-align: center;
    background: #000000e8;
    color: white;
    font-size: 30px;
    margin-left: -3cm;
    margin-top: -1cm;
    margin-right: -2cm;
  }

  .logo {
      width: 5cm;
      margin-left: -900px;
      margin-top: 1cm;
      margin-bottom: 10px;
  }

 .second {
    background-image: linear-gradient(to right, rgb(0, 14, 137) , rgb(82, 1, 154));  
    padding: 5px;
    color: rgba(255, 255, 255, 0.954);
    margin-left: -3cm;
    margin-top: -1cm;
    margin-right: -2cm;
    text-align: center;
    height: 700px; 
}

.man {
    width: 500px;
    float: left; 
    margin-left: 200px;
    margin-top: 70px;
    border-radius: 20%; 
}

.welcome {
    margin-top: 160px;
    font-size: 70px;
    margin-right: 60px;
}

.pw {
    margin-right: 60px;
    font-size: 19px;
}

.aa {
    margin-top: 90px;
    margin-right: 90px;
    float: right;
    color: white;
    text-decoration: none;
}