.heyo {
    padding: 2px;
    text-align: center;
    background: #000000e8;
    color: white;
    font-size: 30px;
    margin-left: -3cm;
    margin-top: -2cm;
    margin-right: -2cm;
  }

  .logoo {
    width: 5cm;
    margin-left: -900px;
    margin-top: 1cm;
    margin-bottom: 10px;
}

.aaa {
    margin-top: 90px;
    margin-right: 90px;
    float: right;
    color: white;
    text-decoration: none;
}

.secondd {
    background-image: linear-gradient(to right, rgb(0, 14, 137) , rgb(82, 1, 154));  
    padding: 5px;
    color: rgba(255, 255, 255, 0.954);
    margin-left: -3cm;
    margin-top: -1cm;
    margin-right: -2cm;
    text-align: center;
    height: 700px; 
}

.post-1 {
    margin-top: 20px;
    margin-right: 800px;
}

.rel {
    width: 400px;
    border: 5px solid black;
    border-radius: 20%; 
}

button {
    border: none;
  color: rgb(239, 239, 239);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(159, 0, 157);
  border-radius: 15%;
}